*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-green:#04C98D;
    --bg-nav:#0E1630;
    --text-green: #04C98D;
    --text-lightdark: #808dad;
    --input-color:#171F38;
    --white-color:#fff;
    --know-more-btn:#111827;
}
.bg-green{ background-color: #04C98D;}
.bg-nav{ background: #0E1630;}
.text-green{ color: #04C98D;}
.text-lightdark{ color: #808dad;}
.input-color{ background: #171F38;}
.know-more-btn{ background: #111827;}
h1,h2,h3,h4,h5,h6,p,a,input,button,li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* NavBar Section Start */
nav .navbar-brand{
    font-size: 30px;
}
nav .nav-item a, p{
    color: var(--white-color);
}
/* /NavBar Section End */

/* Banner Section Start */
.banner img{
    width: 320px;
    height: 370px;
    border-radius: 50%;
    margin-left: 80px;
    border: var(--bg-green) solid 10px;
}
.banner img:hover,
.banner img:focus{
    transform: scale(1.20);
    transition: 0.4s linear;
}
.banner .btn a{
    background: var(--bg-green);
    padding: 10px 60px;
    border: 1px solid var(--bg-green);
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    font-size: larger;
}
.banner .btn:hover,
.banner .btn:focus{
    animation: pulse 2s;
    box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--text-green); }
  }
/* /Banner Section End */

/* Project Section Start */
.project .btn {
    background: var(--bg-green);
    padding: 10px 60px;
    border: 1px solid var(--bg-green);
    color: var(--white-color);
    font-weight: 600;
    text-decoration: none;
    font-size: larger;
}
.project .btn:hover,
.project .btn:focus{
    animation: pulse 2s;
    box-shadow: 0 0 0 1em transparent;
}

.project .card img{
    width: 100%;
    height: 120px;  
}
/* .skills .frontend img{
    width: 100%;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--text-lightdark);
    padding: 4px;
}
.skills .backend-skills {
    text-align: center;
}
.skills .backend img{
    width: 70%;
    height: 200px;
    border: 10px solid var(--text-lightdark);
    padding: 10px;
}
.skills .frontend img:hover,
.skills .backend img:hover,
.skills .backend img:focus,
.skills .frontend img:focus
{
    transform: scale(1.20);
    transition: 0.4s linear;
    box-shadow: 0.4em 0.4em 0.4em 0.4em var(--text-green);
} */
/* /Project Section End */

/* Footer Section Start */
footer ul li {
    padding-bottom: 10px;
}
footer ul li a{
    text-decoration: none;
    color: var(--white-color);
}
footer .info ul li a:hover{
    color: var(--text-green);
    transform: scale(1.20);
    transition: 0.2s linear;
}
footer h4{
    font-weight: 400;
    padding-bottom: 10px;
}
footer .social ul li a{
    margin-right: 20px;
}
footer .social ul li a:hover{
    transform: scale(1.20);
    transition: 0.2s linear;
}
footer form .mb-3 textarea,
footer form .mb-3 input{
    background: var(--input-color);
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 15px;
}
footer form .btn{
    width: 100%;
    font-size: 14px;
    background: var(--know-more-btn);
    padding: 10px 60px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    font-weight: 600;
}
footer form .btn:hover{
    color: var(--white-color);
    border: 1px solid var(--text-green);
    animation: pulse 3s;
    box-shadow: 0 0 0 2em transparent;
}

/* /Footer Section End */

/* Media Query Start */
@media (max-width: 575.98px) {
    .banner img{
        margin-left: 45px;
    }
    .skills .frontend img{
        width: 60%;
        height: 170px;
    }
    .skills .col-lg-2{
        margin-bottom: 40px;
        text-align: center;
    }
    .skills .backend img{
        width: 60%;
        height: 180px;
    }
    .skills .col-lg-4{
        margin-bottom: 40px;
        text-align: center;
    }
    .project .col-lg-4 .card{
        margin-left: 30px;
    }
}
/* /Media Query End */